html {
	font-size: 62.5%;
  font-family: -apple-system, blinkMacSystemFont, /* Macの欧文はSan Francisco (OS X 10.11以降) */
               'Helvetica Neue',            /* Macの欧文 (OS X 10.10以前) */
               'Segoe UI',                  /* Windowsの欧文 */
               'Hiragino Kaku Gothic ProN', /* Macのヒラギノ */
               Meiryo,                      /* Windowsのメイリオ */
               sans-serif;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Original Yu Gothic", "Yu Gothic", YuGothic, Verdana, Meiryo, "M+ 1p", sans-serif;
}
@media all and (-ms-high-contrast: none)  {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}
@media all and (-ms-high-contrast: active) {
  html {
    font-family: Verdana, Meiryo, sans-serif;
  }
}

.pagetop {
    display: none;
	position: fixed;
	bottom: 50px;
}
.pagetop a{
	padding: 0;
	margin: 1%;
	display: inline-block;
}
.pagetop a img{
	  margin: 0;
	  width: 20%;
    background-color: #f15A24;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
		border-radius: 100%;
		font-weight: bold;
}


.pagetop a img:hover {
    background-color: #222;
    text-align: center;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    padding: 10px;
		opacity: 1;
}

.top{
  background: url(../img/awaodori-top1.png) no-repeat;
  background-size: cover;
}
@media screen and (max-width:768px) {
	
	.pagetop {
		display: none;
		position: fixed;
		bottom: 50px;
		left: 85%;
	}
	.pagetop a{
		padding: 0;
		margin: 1%;
		display: inline-block;
	}
	.pagetop a img{
		  margin: 0;
		  width: 60%;
		background-color: #f15A24;
		text-align: center;
		color: #fff;
		font-size: 12px;
		text-decoration: none;
		padding: 10px;
			border-radius: 100%;
			font-weight: bold;
	}

}
@media screen and (min-width:959px) {
  .drawer-toggle{
    display: none;
  }
}
#top .drawer-toggle{
	background: none;
	opacity: 1;
}
.drawer-toggle{
	background:#fff;
	margin: 0;
	padding: 10px 5px 20px 5px;
	width: 30px;
	opacity: 0.6;
	border-radius: 8px;
}
.drawer-dropdown-menu-item{
	width: 120%;
	font-size: 0.4rem;
}
body header{
width: 100%;
background-color: #000000;
padding: 1% 0 0 0;
position: relative;
}
#top header{
	width: 100%;
	background: url(../img/top.png) repeat-x center;
	background-size: cover;
	background-position: center;
	position: relative;
}
ul{
	max-width: 100%;
	list-style: none;
	margin: 0 auto;
}
a{
	text-decoration: none;
	display: block;
}
@media screen and (max-width:960px){
	.navmain{
		display: none;
	}
}
@media screen and (min-width: 959px){
.navmain{
	width: 80%;
	position: absolute;
	top: 40px;
	left: 18%;
  *zoom: 1;
	font-size: 2rem;
	font-weight: bold;
  list-style-type: none;
  margin: 5px auto 30px;
  padding: 0;
	box-sizing: border-box;
}
.navmain:before, .navmain:after{
  content: "";
  display: table;
}
.navmain:after{
  clear: both;
}
.navmain li{
  position: relative;
  min-width:15%;
  float: left;
  margin: 1% 2% 0 2%;
	box-sizing: border-box;
  padding: 0;
  text-align: center;
}
.navmain li a{
  display: block;
  margin: 0;
  color: #fff;
  line-height: 1;
  text-decoration: none;
}
.navmain li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
	width: 100%;
  top: 30px;
  left: 0;
  margin: 0;
  padding: 0;
}
.navmain li ul li{
  width: 280px;
	float: left;
	background: url(../img/top2.png) repeat-x;
}

.navmain li ul li a{
  padding: 9px 10px;
  text-align: left;
}

.navmain li:hover{
	background: #a0a0a0;
	border: 1px solid #CEC7B2;
	box-sizing: border-box;
}

.navmain li a:hover{  color: #000000;
}
#fade-in li ul{
	visibility: hidden;
	opacity: 0;
	transition: 0s;
}
#fade-in li:hover ul{
  visibility: visible;
  opacity: 1;
}
#fade-in li ul li a{
  visibility: hidden;
  opacity: 0;
  transition: .5s;
}
#fade-in li:hover ul li a{
  visibility: visible;
  opacity: 1;
}
}

@media screen and (min-width: 960px){
body .list{
	position: absolute;
	top: 140px;
	right: 0;
  width: 200px;
	font-size: 1.8rem;
	font-weight: bold;
  padding-top: 1.2%;
  padding-bottom: 1.2%;
  color: #fff;
	float: right;
	display: block;
	padding: 0.5em 1em;
	text-decoration: none;
	border-radius: 4px;
	color: #ffffff;
	background-image: -webkit-linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	background-image: linear-gradient(45deg, #FFC107 0%, #ff8b5f 100%);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
	border-bottom: solid 3px #c58668;
}

.list:active{
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

}

.dropdown {
    display: inline-block;
}

@media screen and (min-width: 960px){
.dropdown-content {
    display: none;
    position: absolute;
		right: 0;
		background: #fff;
		top:200px;
		color: #0000FF;
		font-size: 1.2rem;
		font-weight: bold;
    width: 200px;
		height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
}

@media screen and (max-width: 959px){
.dropdown-content {
    display: none;
    position: absolute;
		right: 0;
		top:190px;
		background: #fff;
		color: #0000FF;
		font-size: 1.2rem;
		font-weight: bold;
    width: 200px;
		height: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
}

.dropdown-content p{
	margin: 20px;
}

.reviewbutton button{
	background: #f15A24;
	border-radius: 5px;
}

.coment{
	display: inline-block;
}

.dropdown-coment{
	display: none;
	width: 100%;
}

.show {
	display:block;
}

.show_coment{
	display:block;
}

@media screen and (max-width: 959px){
body .list{
	position: absolute;
	top: 140px;
	right: 0;
  width: 160px;
	padding: 8px 0;
	font-size: 1.8rem;
	font-weight: bold;
  color: #fff;
	float: right;
  background: #f15A24;
  cursor: pointer;
}
}

body .main{
	max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

#top .main{
  color: #fff;
	max-width: 960px;
  margin: 0 auto;
  text-align: center;
	overflow: hidden;
}

#top .main h2{
	font-size: 3.4rem;
}

#top .main p{
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.8;
}

@media screen and (min-width: 960px) {
#awaodoribody{
	background: url(../img/awaodori-img03.png) no-repeat, url(../img/awaodori-img01.png) no-repeat,url(../img/awaodori-img02.png) no-repeat,url(../img/awaodori-img04.png) no-repeat;
	background-position: 4% 11.5%, 0% 25%, 97% 16%,98% 28.5%;
  background-size: 18%, 22%,23%,22%;
}
}

@media screen and (min-width: 960px) {

.main .pankuzu{
	text-align: left;
  position: absolute;
	top: 240px;
	left: 140px;
}

.main .pankuzu span{
	font-size: 1.2rem;
	margin: 0 4px;
}

.main .pankuzu>.now{
	color: #0000FF;
}

}

@media screen and (max-width: 959px) {
.main .pankuzu{
	display:  none;
	}
}

body h1{
	margin: 20px 30px;
	padding: 0;
}

.main h2{
	font-size: 3.2rem;
	margin: 10% 0 0 0;
	display: block;
	clear: both;
}

.main h3{
	font-size: 3rem;
	color: #000000;
	padding: 8% 0 8% 0;
	width: 100%;
	margin: 15% 0 10% 0;
}

.main h4{
	text-align: left;
	font-size: 2.6rem;
	margin: 4% 15% 4% 15%;
	clear: both;
	display: block;
}

.main p{
	text-align: left;
	font-size: 1.8rem;
	margin: 8% 3% 4% 3%;
}

  @media screen and (min-width: 960px) {
.main #awaodori-1{
	color: #fff;
	background: url(../img/awaodoripc-1.png);
}

.main #awaodori-2{
	color: #fff;
	background: url(../img/awaodoripc-2.png);
}

.main #awaodori-3{
	color: #fff;
	background: url(../img/awaodoripc-3.png);
}

.main #awaodori-4{
	color: #fff;
	background: url(../img/awaodoripc-4.png);
}

.main #awaodori-5{
	color: #fff;
	background: url(../img/dokushimapc-1.png);
}

.main #awaodori-6{
	color: #fff;
	background: url(../img/dokushimapc-2.png);
}

.main #eisa-1{
	color: #fff;
	background: url(../img/eisaha.png)
}

.main #eisa-2{
	color: #fff;
	background: url(../img/eisanorekishi.png)
}
.main #eisa-3{
	color: #fff;
	background: url(../img/okinawabunka.png)
}

.main #eisa-4{
	color: #fff;
	background: url(../img/okinawa.png)
}

.main #eisa-5{
	color: #fff;
	background: url(../img/shisya.png)
}

.main #arauma-1{
	color: #fff;
	background: url(../img/arauma1.png)
}

.main #arauma-2{
	color: #fff;
	background: url(../img/arauma2.png)
}

.main #arauma-3{
	color: #fff;
	background: url(../img/arauma3.png)
}

.main #arauma-4{
	color: #fff;
	background: url(../img/aomori.png)
}

.main #ainu-1{
	color: #fff;
	background: url(../img/ainuodori.png)
}

.main #ainu-2{
	color: #fff;
	background: url(../img/hokaido.png)
}

.main #ainu-3{
	color: #fff;
	background: url(../img/hokaidodentou.png)
}

}

@media screen and (max-width: 959px){
	body .main img{
		width: 70%;
	}
}

@media screen and (min-width: 960px){
body .main .awaodori-3 p{
	margin: 0 4% 40px;
	display: block;
}

body .main .awaodori-3 #awaodori-non img{
 width: 45%;
 position: relative;
 top: -45px;
 margin: 0 1% 40px 1%;
 float: right;
 display: block;
}

body .main .awaodori-3 #awaodori-god{
	float: right;
}

body .main .awaodori-3 #awaodori-god h4{
	float: right;
	display: block;
}

body .main .awaodori-3 #awaodori-god p{
	margin: 15% 0;
}

body .main .awaodori-3 #awaodori-god img{
	position: relative;
	top: 10px;
	width: 50%;
	margin: 0 1%;
	float: left;
	display: block;
}

body .main .awaodori-3 #awaodori-aho img{
	width: 50%;
	position: relative;
	top: -75px;
	margin: 0 1%;
	float: right;
	display: block;
}

body .main .awaodori-3 #awaodori-aho p{
	margin: 0 4% 30%;
}

body .main .awaodori-4 img{
	width: 40%;
	margin: 0 4% 5% 4%;
	float: right;
	display: block;
}

body .main .awaodori-4 p{
	margin: 0 4% 25% 15%;
	display: block;
}

body .main .tokushima p{
	margin: 4% 15% 40% 15%;
}

body .taiken img{
	width: 70%;
}

body .main nav ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

}

@media screen and (max-width: 960px){
body header .sns{
	position: absolute;
	right: 2%;
	top: 8%;
	list-style: none;
	margin: 0;
	padding: 0;
}

}

@media screen and (min-width: 960px){
body header .sns{
	position: absolute;
	right: 2%;
	top: 8%;
	list-style: none;
	margin: 0;
	padding: 0;
}

}

body header .sns li{
	width: 36px;
	height: 36px;
	margin: 2px;
	float: left;
	overflow: hidden;
	position: relative;
}

body .sns img{
	width: 36px;
	height: 36px;
	border-top: none;
	box-sizing: border-box;
	border-radius: 2px;
	transition: .3s;
}

@media screen and (min-width: 960px){
	.sumaho{
		display: none;
	}
}

@media screen and (min-width: 960px){
#top article{
	padding-top:5%;
	padding-bottom:15%;
	width: 40%;
	margin: 5% auto;
	background: url(../img/top2.png) repeat-x;
	background-size: cover;
	overflow: hidden;
	box-sizing: border-box;
}

#top article h2{
	font-size: 2.2rem;
}

#top article p{
	font-size: 1.2rem;
	text-align: left;
	margin: 40px;
	line-height: 1.5;
}

}

@media screen and (max-width: 959px){
#top article{
	padding-top:5%;
	padding-bottom:15%;
	width: 80%;
	margin: 10% auto;
	background: url(../img/top2.png) repeat-x;
	background-size: cover;
	overflow: hidden;
	box-sizing: border-box;
}

#top article h2{
	font-size: 2.2rem;
}

#top article p{
	font-size: 1.2rem;
	text-align: left;
	margin: 40px;
	line-height: 1.5;
}

}

@media screen and (min-width: 960px){
body .odorinav{
	position: relative;
	display: block;
  max-width: 960px;
  margin: 0 23%;
}

body .odorinav ul{
	position: relative;
	left: 50%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body .odorinav ul li {
	position: relative;
	left: -50%;
	max-width: 90%;
	list-style: none;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

body .odorinav ul li img{
	max-width: 90%;
	opacity: 0.6;
}

body .odorinav ul li img:hover{
	opacity: 1;
}

#onclick li ul{
	visibility: hidden;
	opacity: 0;
	transition: 0s;
}

#onclick li:hover ul{
	position: relative;
	left: 50%;
  visibility: visible;
  opacity: 1;
}

#onclick li ul li{
	position: relative;
	display: block;
	top: auto;
	left: -45%;
	width: 100px;
	padding: 10px 5px;
	background: red;
	border-radius: 5px;
}

#onclick li ul li a{
	z-index: none;
	opacity: none;
	color: #fff;
	background: none;
}

}

@media screen and (max-width: 1025px){
	body .odorinav{
		position: relative;
		display: block;
	  max-width: 960px;
	  margin: 20% 23% 57%;
	}
}

@media screen and (max-width: 959px){
body .odorinav{
	position: relative;
	display: block;
	width: 100%;
	margin: 5%;
}

body .odorinav ul{
	position: relative;
	left: 50%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

body .odorinav ul li {
	position: relative;
	left: -50%;
	width: 25%;
	list-style: none;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

body .odorinav ul li img{
	max-width: 100%;
	opacity: 0.6;
}

body .odorinav ul li img:hover{
	opacity: 1;
}

#onclick li ul{
	visibility: hidden;
	opacity: 0;
	transition: 0s;
}

#onclick li:hover ul{
	position: relative;
	left: 50%;
  visibility: visible;
  opacity: 1;
}

#onclick li ul li{
	position: relative;
	display: block;
	top: auto;
	left: -25%;
	width: 80px;
	padding: 10px 5px;
	background: red;
}

#onclick li ul li a{
	z-index: none;
	opacity: none;
	color: #fff;
	background: none;
	border-radius: 5px;
}

}

@media screen and (max-width: 767px){
body .odorinav{
	position: relative;
	display: block;
}

body .odorinav ul{
	position: relative;
	left: 50%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

body .odorinav ul li {
	position: relative;
	left: -55%;
	width: 25%;
	list-style: none;
	float: left;
	display: block;
	margin: 0;
	padding: 0;
}

body .odorinav ul li img{
	max-width: 100%;
	opacity: 0.6;
}

body .odorinav ul li img:hover{
	opacity: 1;
}

#onclick li ul{
	visibility: hidden;
	opacity: 0;
	transition: 0s;
}

#onclick li:hover ul{
	position: relative;
	left: 50%;
  visibility: visible;
  opacity: 1;
}
#onclick li ul li{
	position: relative;
	display: block;
	top: auto;
	left: -48%;
	width: 80px;
	padding: 10px 5px;
	background: red;
}
#onclick li ul li a{
	z-index: none;
	opacity: none;
	color: #fff;
	background: none;
	border-radius: 5px;
}
}

body .main .contentnav{
	padding: 0;
	max-width: 80%;
	margin: 0 auto;
}
body .main .contentnav nav ul{
	display: table;
	width: 100%;
	margin-left: 3.7%;
	padding: 0;
}
body .main .contentnav nav ul li{
	display: table-cell;
	float: left;
	margin: 1% 1%;
}
body .main .contentnav a{
	width: 160px;
	padding: 20px 2px;
	font-size: 1rem;
	box-sizing: border-box;
	line-height: 20px;/*高さと合わせる*/
    vertical-align: middle;/*垂直中央寄せ*/
	overflow: hidden;/*はみ出た部分を隠す*/
	text-decoration:none;/*下線は消す*/
}
body .main .contentnav a:hover{
	display: block;
	font-size: 1.1rem;
	font-weight: bold;
}
.contentnav-a:hover{
	background: #f15A24;
	border-radius: 5px;
}
.contentnow:hover{
	background: #CEC7B2;
	border-radius: 5px;
}
.contentnow{
  border: 1px solid #CEC7B2;
	border-radius: 5px;
}
.contentnav-a{
	border: 1px solid #f15A24;
	border-radius: 5px;
}
.contentnow a{
	color: #0000FF;
}
.contentnav-a a{
	color: #000000;
}


body .main article{
	margin: 150px 0 200px 0;
	display: block;
}

body .main .contentbutton{
	width: 60%;
	margin: 0 auto;
	overflow: hidden;
}
body .main ul {
	padding: 0!important;
}

body .main .contentbutton li{
	float: left;
}

body .main .contentbutton li button{
	width: 151px;
	height: 50px;
	padding: 10px 0;
	margin: 40px 20px 0 20px;
	background: #f15A24;
	font-size: 1.2rem;
	box-sizing: border-box;
	display: block;
}

body .main .contentbutton li button:hover{
	width: 151px;
	height: 50px;
	background: #f39800;
	color: #0000c9;
	font-weight: bold;
	font-size: 1.4rem;
}

@media screen and (max-width:767px){
body .main .contentnav{
	margin: 0 auto;
}
body .main .contentnav nav ul{
	display: table;
	width: 100%;
	padding: 0;
	margin-left: 12px;
	margin-bottom: 10px;
}
body .main .contentnav nav ul li{
	padding: 0;
	display: table-cell;
	margin: 1% 1%;
	float: left;
}
body .main .contentnav a{
	width: 110px;
	padding: 10px 2px;
	font-size: 1rem;
	box-sizing: border-box;
	line-height: 20px;/*高さと合わせる*/
	vertical-align: middle;/*垂直中央寄せ*/
	overflow: hidden;/*はみ出た部分を隠す*/
	text-decoration:none;/*下線は消す*/
 font-weight: bold;
}
.contentnow{
  border: 1px solid #CEC7B2;
}
.contentnav-a{
	border: 1px solid #f15A24;
}
.contentnow a{
	color: #0000FF;
}
.contentnav-a a{
	color: #000000;
}


body .main article{
	margin: 150px 0 200px 0;
	display: block;
}

body .main .contentbutton{
	width: 80%;
	margin: 0 auto;
	overflow: hidden;
}
body .main .contentbutton{
	padding: 0;
}
body .main .contentbutton li{
	float: left;
}

body .main .contentbutton li button{
	width: 110px;
	padding: 10px 0;
	margin: 40px 20px 0 20px;
	background: #f15A24;
	font-size: 0.6rem;
	box-sizing: border-box;
	display: block;
}

}

@media screen and (width: 414px){
	body .main .contentbutton{
		width: 72.5%;
		margin: 0 auto;
		overflow: hidden;
	}

	body .main .contentnav{
		margin: 0 auto;
	}
}

@media screen and (max-width:420px){
	body .main .contentbutton li button{
		width: 260px !important;
		padding: 10px 0;
		background: #f15A24;
		font-size: 1.2rem;
		box-sizing: border-box;
		display: block;
	}
}

@media screen and (max-width:959px){
	body .main article {
		margin: 0 0 20% 0;
	}

	body .main .contentnav nav ul{
		width: 120%;
		padding: 0;
	}

	body .main .contentnav nav ul li{
		display: table-cell;
		margin: 1% 1%;
		float: left;
	}
	body .main .contentnav nav ul li a{
		width: 130px;
		height: 45px;
		padding: 5px 2px;
		text-align: center;
		font-size: 50%;
		box-sizing: border-box;
	}

	body .main .contentbutton{
		padding: 0 0 0 15px;
	}

	body .main .contentbutton li button{
		width: 110px;
		height: 40px;
		padding: 10px 0;
		margin: 40px 20px 0 20px;
		background: #f15A24;
		font-size: 0.8rem;
		box-sizing: border-box;
		display: block;
}

}

@media screen and (max-width:767px){

	body .main article {
		margin: 0 0 20% 0;
	}

	body .main .contentnav nav ul{
		width: 120%;
		padding: 0;
	}

	body .main .contentnav nav ul li{
		display: table-cell;
		margin: 1% 1%;
		float: left;
	}
	body .main .contentnav nav ul li a{
		width: 140px;
		padding: 5px 2px;
		text-align: center;
		font-size: 50%;
		box-sizing: border-box;
	}

}
body .main .contentbutton a{
	color: #000000;
	text-decoration: none;
}

@media screen and (max-width:361px){
	body .main article{
		margin: 0 0 80px 0;
	}

	body .main .contentnav nav ul li{
		display: table-cell;
		width: 115px;
		height: 45px;
		padding: 10px 2px;
		margin: 1% 1%;
		float: left;
		font-size: 50%;
		box-sizing: border-box;
	}

	body .main .contentbutton li button{
		width: 100px;
		height: 40px;
		padding: 10px 0;
		margin: 40px 20px 0 20px;
		background: #f15A24;
		font-size: 0.8rem;
		box-sizing: border-box;
		display: block;
}

}

@media screen and (max-width:959px){
	.linestamp img{
		width: 13%!important;
		margin: 50px 0 30px 0;
	}
}

.linestamp section{
	margin: 30px auto 100px auto;
}


.linestamp button{
	width: 12%;
	padding: 12px 10px;
	float: right;
	top: -100px;
	position: relative;
	right: -20%;
	color: #fff;
	font-weight: bold;
	background: #0000FF;
	border-radius: 5px;
}

@media screen and (max-width:959px){
	.linestamp button{
		width: 100px;
		padding: 12px 10px;
		float: right;
		top: -60px;
		position: relative;
		right: 10px;
		color: #fff;
		font-weight: bold;
		background: #0000FF;
		border-radius: 5px;
	}
}

.inta h2{
	margin: 40px auto 140px auto;
}

.sonoda{
	float: right;
	margin-left: 15px;
}

.question p{
	font-size: 1.6rem;
	font-weight: bold;
}


#moushikomi h1{
	width: 140px;
	margin: 0 auto;
	padding: 0;
}

#moushikomi .moushikomi{
	max-width: 960px;
	margin: 0 auto;
}

.moushikomi div{
	width: 50%;
	margin: 150px;
}

.moushikomi .input{
	width: 200px;
	margin: 40px auto 60px auto;
}

.moushikomi input{
	width: 400px;
}

#moushikomi button{
	width: 110px;
	padding: 10px 0;
	margin: 40px auto 150px auto;
	background: #f15A24;
	font-size: 0.6rem;
	box-sizing: border-box;
	display: block;
}

@media screen and (max-width:959px){
	.moushikomi div{
		width: 100%;
		margin: 50px 0;
	}

	#moushikomi button{
		width: 110px;
		padding: 10px 0;
		margin: 40px auto 50px auto;
		background: #f15A24;
		font-size: 0.6rem;
		box-sizing: border-box;
		display: block;
	}
}

@media screen and (max-width:959px){

.taikenbutton{
 width: 80%;
 margin: 0 auto;
}

.moushikomi input{
	width: 50%;
}
.taikenbutton a{
	color: #fff;
	background: red;
	padding: 10px 30px;
	font-size: 1.2rem;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
	opacity: 0.7;
 }
#minbuken a{
	position: relative;
	bottom: 5px;
	color: #fff;
	background: red;
	padding: 10px 30px;
	font-size: 1rem;
	font-weight: bold;
	text-decoration: none;
}

.like{
	float: right;
}

.like button{
	width: 100%;
	padding: 10px;
	position: relative;
	top: 90px;
	right: 90px;
	background: #f15A24;
	border-radius: 5px;
}

}

@media screen and (max-width:959px){
	.like button{
		width: 100%;
		padding: 5px;
		position: relative;
		top: 50px;
		right: 15px;
		background: #f15A24;
		border-radius: 5px;
	}
}

@media screen and (min-width:960px){
	.like {
		float: right;
	}

	.like button{
		width: 120px;
		padding: 10px;
		position: relative;
		top: 150px;
		right: 90px;
		background: #f15A24;
		border-radius: 5px;
	}

	.like button:hover{
		background: #ff5fb8;
		font-weight: bold;
		font-size: 1.2rem;
		color: #0000ff;
	}

	.taikenbutton{
		position: fixed;
		right: 0;
		bottom: 10px;
	}
	.taikenbutton a{
		display: inline-block;
    text-decoration: none;
    background: #ff8181;
    color: #FFF;
    width: 160px;
    height: 160px;
    line-height: 160px;
    border-radius: 50%;
    text-align: center;
		font-size: 1.4rem;
    font-weight: bold;
    vertical-align: middle;
    overflow: hidden;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    border-bottom: solid 3px #bd6565;
    transition: .4s;
	}
}

.taikenbutton a:hover{
	background: #ff3c3c;
}
.taikenbutton a:active{
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    border-bottom: none;
}

.reviewbutton{
	float: right;
	position: relative;
	right: 15%;
}

.reviewbutton button{
	width: 130px;
	padding: 10px 0;
}
.reviewbutton input{
	width: 650px;
	height: 100px;
	position: absolute;
	top:40px;
	right: 1px;
}

.reviewbutton span{
	display: none;
	position: relative;
	top:23px;
	right: 120px;
}

body footer{
	top: 100% ;
	margin: 40px 0 0 0;
	width: 100%;
  background-color: #000000;
  color: #fff;
  text-align: center;
	box-sizing: border-box;
}

body footer ul{
	width: 100%;
	list-style: none;
	font-size: 1.2rem;
	margin: 0 auto;
	padding: 4% 4% 4%;
	box-sizing: border-box;
}

body footer ul li{
	margin: 0;
	list-style: none;
	display: inline-block;
  line-height: 1.8;
  padding: 0;
}
@media screen and (min-width:960px){

body footer ul .last a{
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
	padding:0 30px 0 30px;
}

body footer ul li a{
	color: #fff;
	text-decoration: none;
	border-left: 1px solid #fff;
  padding:0 30px;
}

}

@media screen and (max-width:959px){

	body footer ul .last a{
		color: #fff;
		text-decoration: none;
		padding:0 30px 0 30px;
	}

	body footer ul li a{
		color: #fff;
		text-decoration: none;
	  padding:0 30px;
	}

}

footer > small{
  text-align: center;
  display: block;
  color: #fff;
  font-weight: bold;
  width: 100%;
	padding-bottom: 2%;
  margin: 0 auto 0 auto;
}

footer .footer a:hover{
	color: #fff;
}
